<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}?v={{ timestamp }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="icon" href="data:,">
    <title>PDF Chat App</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">PDF Chat App</h1>
        <form id="uploadForm" class="mt-4" enctype="multipart/form-data">
            <div class="form-group">
                <label for="pdfFile">Upload PDF</label>
                <input type="file" class="form-control-file" id="pdfFile" name="pdfFile" accept=".pdf" required>
            </div>
            <button type="submit" class="btn btn-primary">Start Chat</button>
        </form>
        <div id="chatContainer" class="mt-4 d-none">
            <div id="chatMessages"></div>
            <input type="text" id="userInput" class="form-control mt-2" placeholder="Enter your message">
            <button type="button" class="btn btn-primary mt-2" id="sendMessage">Send</button>
        </div>
    </div>
</body>
</html>
